<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/login.css">
        <link rel="stylesheet" href="css/header.css">
        <title>LogIn</title>
    </head>

    <style media="screen">
    .form-control{
width:25vw;
}

.title{
width: 100vw;
margin: 0;
margin-top: 60px;
padding: 0;
display: flex;
justify-content: space-around;
align-items: center;
color:#2980b9;
}

section{
display: flex;
margin:0;
padding: 0
}

form{
width: 50vw;
height: 55vh;
padding: 0;
margin: 0;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
form:first-child{
border-right: 1px solid #2980b9;
}

.div-input{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-bottom: 25px;
width: 40vw;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 20px 30px;
    margin:0;
    margin-bottom: 30px;
    background-color: #3498db;
    /*color:#34495e;*/
    color:white;
}

header a{
    color : #34495e;
    text-decoration: none;
}

header a:last-child:hover{
    color : white;
    text-decoration: none;
}

header a:nth-of-type(1){
    color : #34495e;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
}
header a:nth-of-type(1):hover{
    text-decoration: none;
}

header img{
    margin:0;
    margin-right: 7px;
    padding: 0;
    height: 50px;
    width: auto;
}

.cookieAlert{
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 999;
    right: 10vw;
    bottom: 3vh;
    left: 10vw;
    width: 80vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}


    </style>

    <body>
        <header>
            <a href="/">
                <img src="img/logo.png" alt="Logo du site">
                <span>Louvain-la-Neuve <br>Clean</span>
            </a>
            <input id= "search" class="form-control" type="text" name="search" placeholder="Ma recherche...">
            <span>{{{userLogin}}}</span>
        </header>
        <div class="title">
            <h2>Connection</h2>
            <h2>Inscription</h2>
        </div>

        <div>
            {{{username}}}
        </div>

        <section>
            <form class="" action="/" method="post">
                <span style="color: red; font-size: 2em;">{{err}}</span>
                <div class="div-input">
                    <label for='username'>Nom d'utilisateur</label><input class="form-control" type="text" id="username" name="username" required>
                </div>

                <div class="div-input">
                    <label for='password'>Mot de passe</label><input class="form-control" type="password" id="password" name="password" required>
                </div>

                <input class="btn btn-primary" type="submit" value="Se connecter">
            </form>

            <form class="" action="/inscri" method="get">
                <div class="div-input">
                    <label for='username'>Nom d'utilisateur</label><input class="form-control" type="text" id="username" name="username" maxlength="15" minlength="4" required>
                </div>

                <div class="div-input">
                    <label for='password'>Mot de passe</label><input class="form-control" type="password" id="password" name="password" maxlength="32" minlength="8" required>
                </div>

                <div class="div-input">
                    <label for='name'>Nom complet</label><input class="form-control" type="text" id="name" name="name" maxlength="100" required>
                </div>

                <div class="div-input">
                    <label for='email'>Adresse Mail</label><input class="form-control" type="email" id="email" name="email" maxlength="100" required>
                </div>

                <input class="btn btn-primary" type="submit" value="S'inscrire">
            </form>
        </section>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </body>
</html>
