.login{
  margin-top: 10%;
}
.signUp{
  margin-top: 10%;
}
.inpu{
  transition: 0.5S
}
.inpu:hover{
  background-color: #D4D4D4;
}

h1{
  transition: 0.5s;
}
h1:hover{
  transform: rotate(5deg);
  color: blue;
}

h3{
  transition: 0.5s;
}
h3:hover{
  transform: rotate(5deg);
  color: blue;
}
header{
  background-color: blue;
}
#home{
  transition: 0.5s;
}
#home:hover{
  transform: rotate(5deg);
  color: #6465C5;
}
