<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Index</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <header>
      <nav class="navbar navbar-expand-lg avbar navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home" id="home">Home : {{{nomHome}}}<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search" method="get">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
      <button class="btn btn-outline-primary my-2 my-sm-0 " type="submit">Search</button>
    </form>
  </div>
</nav>
  </header>
  <body>

    <div class="d-flex justify-content-around" >
      <form class="login" method="post" action="/conect">
        <h1 name="login">login</h1>
        <br><br>

        <h3>FULL NAME</h3>
        <input type="text" name="fullName2" class="inpu" class="form-control mr-sm-2" >
        <br><br>

        <h3>PASSWORD</h3>
        <input type="password" name="mdp" class="inpu" class="form-control mr-sm-2">
        <br><br><br>

        <h3 style="color: red; font-size: 2em;">{{err}}</h3>

        <br><br><br>
        <input type="submit" name="process" value="PROCESS" class="btn btn-outline-dark">
      </form>

      <form class="signUp" method="post" action="/inscri" class="inpu" class="form-control mr-sm-2">
        <h1 name="signUp">Sign Up</h1>
        <br><br>
        <h3>EMAIL</h3>
        <input type="email" name="email2" class="inpu" class="form-control mr-sm-2">
        <br><br>

        <h3>FULL NAME</h3>
        <input type="text" name="fullName" class="inpu" class="form-control mr-sm-2">
        <br><br>

        <h3>PASSWORD</h3>
        <input type="password" name="paasword2" class="inpu" class="form-control mr-sm-2">
        <br><br>

        <input type="submit" name="process2" value="PROCESS" class="btn btn-outline-dark">

      </form>
  </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  <footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">
      <p class="Auteur">De Gad et Rodolphe</p>
    </div>
  </footer>
</html>
