div{
  width: 250px;
  height: 250px;
  background-color: red;

  transition: 2s;
}

div:hover{
  /*margin-left: 30%;*/
  width: 500px;
  height: 500px;
  border-radius: 50px;
  border-color: green;
  border-style: groove;
  border-width: 30px;
  transform: rotate(720deg);

}
textarea{
  display: flex;
  justify-content: center;
  align-items: center;

  resize: vertical;
  resize: horizontal;
  width: 200px;
  transition: 2s;
}

textarea:hover{
  width: 494px;
  resize: vertical;
  resize: horizontal;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
}
